{% extends 'base.html' %}
{%load bootstrap4%}
{% block header_block %}
<title>Comment form</title>
{% endblock header_block %}

{% block body_block %}
<div class="jumbotron">
   
    {% if  not form.instance.pk %}
        <h1>Create new comment</h1>
    {% else %}
        <h1>Update comment</h1>
    {% endif %}
    
    <br><br>
    

    <form method="POST">{% csrf_token %}
        {% bootstrap_form form %}
        <br><br>

        <input type="submit" class="btn btn-primary sm-btn" value="Submit">
    </form>
</div>
{% endblock body_block %}
