{% extends "base.html" %}

{% block body_block %}
  
  <div class='jumbotron'>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h3>Please inter the email youy registered with<h3></div>
        <div class="p-2 bd-highlight d-flex justify-content-center">        
          <form method="post">{% csrf_token %}
          
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            
            <p>{{ form.email }}</p>
            
            <input type="submit" class="btn btn-primary btn-lg rounded-pill d-flex justify-content-center" value="Reset password">
        
          </form>
        </div>
        
      </div>
    </div>
  </div>  
  
{% endblock %}

